/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    box-sizing: border-box;
}

body {
    color: #3D3D3D;
    font: 100%/1.5 "ff-tisa-web-pro", "Georgia", "times new roman", times, serif;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, #stats span {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, "Arial", sans-serif;
    letter-spacing: -0.04em;
}

h1 {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0.2em;
    font-weight: 100;
    color: #fff;
} 

h2 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 3em;
    line-height: 1.1;
    padding-bottom: 0.4em;
    font-weight: 100;
    color: #39b54a;
}

section {
    margin-top: 5em;
}

section {
    margin: 0 auto;
    max-width: 74em;
    padding: 0 1em;
}

header {
    background: url("../img/header.jpg") no-repeat;
    background-size: cover;
}

img {
    width: 100%;
}

br {
    margin-bottom: 0.7em;
}

.left {
    float: left;
}
#container {
    width: 100%;
}

#menu a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#menu ul {
    color: #fff;
}

.quote {
    font-size: 1.3em;
    color: #999;
    margin: 2em 0;
}

.firstletter {
    font-size: 4em;
    float: left;
    margin: 0 0.2em 0 0;
    line-height: 1em;
}

.greybg {
    background-color: #F7F7F7;
    margin: 2em 0;
    padding: 0 0 4em 0;
}

#stats {
    padding-left: 2em;
}

#stats > div {
    margin:0 0 3em;
}

.stats-green-number {
    font-size: 5.5em;
    color: #33b35a;
    font-weight: 100;
    line-height: 0;
    padding: 0.5em 0 0;
    display: block;
    letter-spacing: -0.05em;
}

.stats-grey-text {
    font-size: 2.5em;
    color: #999;
    font-weight: 100;
    line-height: 0.8;
    padding: 0.5em 0 0;
    display: block;
    letter-spacing: -0.02em;

}

.stats-small-grey-text {
    font-size: 1em;
    color: #999;
    font-weight: 100;
    line-height: 0;
    padding: 0.4em 0 0;
    display: block;
}


ul > li {
    margin-top: 1em;
}

ul.round-bullet {
    list-style: url("../img/grey-bullet.png") inside;
}

ul.check-bullet-ul > li {
    background:url("../img/checkmark.png") no-repeat left top;
    padding-left: 2em;
}

.check-bullet {
    background:url("../img/checkmark.png") no-repeat left top;
    padding-left: 2em;
}

#activites-sportives div {
    margin-bottom: 2em;
}

#img-enfants {
    margin-bottom: 1em;
}

#img-mountains {
    margin: 1em 0 0 0;
}

#pour-enfants img {
    width: 100%;
}

#contact li {
    margin: 0 0 2em 0;
}

.contact-detail {
    margin: 0 0 0 1em;
}

#gmap iframe{
    height: 300px;
}

.green-box {
    padding: 1em;
    background-color: rgba(108, 190, 69, 0.9);
    font: 2em/0.8 "proxima-nova", "Helvetica Neue", Helvetica, "Arial", sans-serif;
    color: #fff;
    width: 13em;
    position: absolute;
    margin: -1em 0 0 -1em;
    line-height: 1em;
}

.green-box p {
    margin: 0;
}

#img-locaux {
    margin-top: 5em;
}

#contact-list {
    padding: 2em;
    background-color: #F7F7F7; 
}

#contact-list img {
    width: auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 45em) {
    /* Style adjustments for viewports that meet the condition */
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 4em;
    }

    section { display: inline-block; } /* For IE6/7 */
    section { display: block; } /* For IE6/7 */

    section {
        padding: 0 3em;
        position: relative;
    }

   /* img {
        width: auto;
    }*/

    .two-col {
        width: 50%;
        padding: 0 1em;
    }

    .clearleft {
        clear: left;
    }

    header {
        height: 27em;
    }

    #menu ul li {
        float: left;
        margin-right: 2em;
        list-style-type: disc;
    }

    #motdumaire {
        margin-top: -6em;
        background-color: #fff;
        padding-top: 2em;
    }

    #motdumaire p:nth-child(2){
        padding-left: 2em;
    }

    #chiffres-content {
        width: 70%;
        padding-left: 2em;
    }

    #stats {
        margin-right: 3em;
    }

    #img-map {
        margin: 0 0 0 -3em;
    }

    #img-map img{
        width: 100%;
        border: 1px solid #eee;
    }

    #img-locaux {
        margin: 2em 0 0 6em;
        width: 50%
    }

    #img-services {
        margin-left: -5em;
        padding-right: 2em;
        width: 50%;
    }

    #img-services-sante {
        right: 0em;
        position: absolute;
        width: 50%;
    }

    #systeme-educatif > div {
        margin-top: 2em;
    }

    #img-culture img {
        width: 100%;
    }

    #img-golf {
        width: 65%;
        margin-left: 5em;
    }

    #img-mountains img{
        width: 100%;
    }

    #gmap iframe{
        height: 500px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
